body {
  background: rgb(242, 242, 242);
}

h1 {
  color:rgba(22, 22, 22, 0.4);
  font-size: 96px;
  text-align: right;
  margin-right: 80px;
}

.left {
  width: 800px;
}
.right {
  width: 100%;
}

.account-card {
  background: white;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.sender-card {
  background: white;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.tx-card {
  background: white;
  border-radius: 16px;
  padding: 32px;
  width: 1200px;
  margin: 16px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 400px;
}

#wallet-addr {
  font-size: 24px;
}

.container {
  font-size: 24px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}